<md-content flex flex-gt-sm="70">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="About">
            <md-content class="md-padding">
                <h3 class="md-display-2">About Medical Eyes</h3>
                <p>About Medical Eyes</p>
            </md-content>
        </md-tab>
        <md-tab label="Solutions">
            <md-content class="md-padding">
                <h3 class="md-display-2">Solutions</h3>
                <p>Solutions</p>
            </md-content>
        </md-tab>
        <md-tab label="Our team">
            <md-content class="md-padding">
                <h3 class="md-display-2">Our team</h3>
                <p>Alexei Vinogradov</p>
                <p>Afanasy Argunov</p>
                <p>Egor Zhirkov</p>
                <p>Igor Savvin</p>
            </md-content>
        </md-tab>
        <md-tab label="Contacts">
            <md-content class="md-padding">
                <h3 class="md-display-2">Contacts</h3>
                <p>Contacts</p>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>