db
web/node_modules
web/build
web/src/bower_components
web/npm-debug.log
paip/*.o
paip/paip
web/.vscode
web/.vscode/*
videoserver/.vscode
videoserver/.vscode/*
videoserver/node_modules
videoserver/build
videoserver/src/bower_components
videoserver/npm-debug.log